[user]
  name = {{ .myFullName | quote }}
  email = {{ .email | quote }}
  {{- if eq .env "work" }}
  signingkey = 886FDA70BBB7CDCF
  {{- end }}

[core]
  pager = delta
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  {{- if eq .env "work" }}
  ignorecase = true
  {{- end }}

[init]
  defaultBranch = main

[branch]
  sort = -committerdate

{{ if eq .env "work" }}
[fetch]
  prune = true
{{ end }}

[pull]
  {{- if eq .env "personal" }}
  rebase = false
  {{- else if eq .env "work" }}
  rebase = true
  {{- end }}

[push]
  autoSetupRemote = true

[delta]
  line-numbers = true

[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
