#!/bin/sh

set -e

EXTENSIONS=(
  aaron-bond.better-comments
  cmstead.js-codeformer
  dbaeumer.vscode-eslint
  esbenp.prettier-vscode
  YoavBls.pretty-ts-errors
  mikestead.dotenv
  sdras.inbedby7pm
  SimonSiefke.svg-preview
  streetsidesoftware.code-spell-checker

  # This works for gitlab as well as github
  ziyasal.vscode-open-in-github
  {{ if eq .env "personal" }}
  # Work doesn't use github
  GitHub.vscode-pull-request-github
  {{ end }}
)

for EXTENSION in "${EXTENSIONS[@]}";
  do code --install-extension $EXTENSION;
done
