# Preferred ls
alias ll="ls -AFhl"

# Git
alias g="git status -sb"
alias gb="git branch"
alias gap="git add -p"
alias gps="git push"
alias gpl="git pull"
alias gdc='git diff --cached'
alias gl="git log --graph --pretty=format':%C(red)%h%Cgreen%d%Creset %s %C(blue) %an, %ar%Creset'"
function gcoi() { git checkout $(git branch | pick); }

# Editor aliases
alias c="code"
alias c.="code ."

alias cz="chezmoi"

# Remaps
alias j="z"
alias cat="bat"

# Misc
alias reload="source ~/.zshrc"
alias hosts="sudo code -n /etc/hosts"
alias json="jq ." # Pretty print json with jq

# Pretty print tree
function tree() {
  command tree -aC -I '.git|node_modules' --dirsfirst "$@" | less -FRNX
}

alias arc-cli='CHROME_BUNDLE_IDENTIFIER="company.thebrowser.Browser" chrome-cli "$@"'

{{ if eq .env "work" }}
# Work only

# Docker
alias dc="docker compose"
alias ds="docker compose stop"
alias dl="docker compose logs -f --tail=30"
alias ku="kubectl"
{{ end }}
